@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Poppins&family=Source+Code+Pro:wght@500&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.parent {
  display: flex;
}
.left, .right {
  flex: 1;
}
.center {
  margin: 0;
  padding: 3px;
}
header, footer {
  position: sticky;
  z-index: 2;
}
main {
  z-index: 1;
}
.cursor {
  animation: blinker 1.5s steps(1) infinite;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}